<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="COVID-19 information for endangered languages from the Endangered Languages Project">
	<meta name="keywords" content="coronavirus, COVID-19, endangeredlanguages, endangered languages, information, non profit">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">
	<title>COVID-19 information for endangered languages</title>

	<link rel="canonical" href="{{ .Site.BaseURL }}">

	{{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "/node_modules/bootstrap")) }}
	{{ $style := resources.Get "/scss/main.scss" | toCSS $options | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>


{{ partial "header/header.html" . }}

{{ block "main" . }}
{{ end }}

{{ partial "footer/footer.html" . }}


{{ $jquery := resources.Get "js/vendor/jquery.js" }}
{{ $popper := resources.Get "js/vendor/popper.js" }}
{{ $bootstrap := resources.Get "js/vendor/bootstrap.js" }}
{{ $papaparse := resources.Get "js/vendor/papaparse.js" }}
{{ $base64 := resources.Get "js/vendor/base64.js" }}
{{ $vendor := slice $jquery $popper $bootstrap $papaparse $base64 | resources.Concat "js/vendor.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $vendor.Permalink }}" integrity="{{ $vendor.Data.Integrity }}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous"></script>

{{ $main := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}"></script>
</body>
</html>
